name: Build

on:
  pull_request:
  push:
    branches:
      - optimize_workflow
  workflow_dispatch:

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'ci(skip)')"
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run ktlint
        run: ./gradlew ktlintCheck

      - name: Run tests
        run: ./gradlew test -PbuildType=dev

      - name: Build dev app
        run: ./gradlew assembleDev -PbuildType=dev
