name: Release Drafter

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request_target:
    types: [ opened, reopened, synchronize ]

jobs:
  update_release_draft:
    permissions:
      contents: write
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
