name: Test Workflow

on:
  push:
    branches:
      - optimize_workflow
  workflow_dispatch:

jobs:
  static_analysis:
    name: Run Static Analysis
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Build debug APK
        run: ./gradlew assembleRelease

      - name: Sign release APK
        uses: r0adkll/sign-android-release@v1
        id: sign_app
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Rename APK
        run: |
          dir=$(dirname ${{ steps.sign_app.outputs.signedReleaseFile }})
          filename=$(basename ${{ steps.sign_app.outputs.signedReleaseFile }})
          release_name=$(echo ${{ steps.sign_app.outputs.signedReleaseFile }} | sed 's/.*\/\([^-]*-[^-]*-[^-]*\).*/\1/')
          to_path="$dir/$release_name.apk"
          cp ${{ steps.sign_app.outputs.signedReleaseFile }} "$to_path"

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: Debug APK
          path: ${{ steps.sign_app.outputs.signedReleaseFile }}

      - name: Create test GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OWNER: ${{ github.repository_owner }}
          REPO: ${{ github.event.repository.name }}
        run: gh release create "test"

      - name: Upload APK to GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OWNER: ${{ github.repository_owner }}
          REPO: ${{ github.event.repository.name }}
        run: gh release upload "test" "${{ steps.sign_app.outputs.signedReleaseFile }}"
